button.readMoreButton {
  background: #0096a0;
   position: absolute;
	 width: 120px;
	 height: 50px;
     border-radius: 4px;
       box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
         color: #ffffff;
         display: inline-block;
         padding: 6px 30px 8px;
         position: relative;
         text-decoration: none;
         transition: all 0.1s 0s ease-out;
}
.no-touch button.readMoreButton:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0,0,0,0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch button.readMoreButton:active, button.readMoreButton:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}
a.toggle-info {
  background: #0096a0;
   position: absolute;
	 width: 120px;
	 height: 50px;
     border-radius: 4px;
       box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
         color: #ffffff;
         display: inline-block;
         padding: 6px 30px 8px;
         position: relative;
         text-decoration: none;
         transition: all 0.1s 0s ease-out;
}
.no-touch a.toggle-info:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0,0,0,0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.toggle-info:active, a.toggle-info:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}
